<h1>Please enter a new password</h1>

<form action="/sessions/password_reset/" method="post">
	Password: <input name="new_password" type="password">
	Password Confirmation: <input name="password_confirmation" type="password">
	<input type="hidden" name="password_token" value="<%= @password_token %>">
	<input type="submit" value="Submit">
</form>